text.centered {
    text-anchor: middle;
}

text.rightaligned {
    text-anchor: end;
}

rect.enabled {
    fill: lightgrey;
    stroke: black;
}

text.enabled {
    fill: black;
}

rect.disabled {
    fill: lightgrey;
    stroke: slategrey;
}

text.disabled {
    fill: slategrey;
}

text.labelnumber {
    font-size: 11;
}

rect.closebutton {
    fill: red;
    stroke: black;
}

text.closebutton {
}
