text {
    font-family: sans;
    font-size: 12px;
}

text.centered {
    text-anchor: middle;
}

text.rightaligned {
    text-anchor: end;
}

rect.enabled {
    fill: lightgrey;
    stroke: black;
}

text.enabled {
    fill: black;
}

rect.disabled {
    fill: lightgrey;
    stroke: slategrey;
}

text.disabled {
    fill: slategrey;
}

text.labelnumber {
    font-size: 11px;
    fill: red;
}

rect.closebutton {
    fill: red;
    stroke: black;
}

text.closebutton {
}

rect.selected {
    fill: lightblue;
    stroke: black;
    stroke-dasharray: 1,1;
}

text.selected {
    font-weight: bold;
}

text.normalarrow {
    font-size: 12px;
}

text.smallarrow {
    font-size: 10px;
}
